#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.calculator-wrapper{
  height: 430px;
  width: 251px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-radius: 20px;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rgb(4, 3, 3) solid;
  background-color: aliceblue;
  width: 251px;
  height: 420px;
  border-radius: 20px;
}

.display {
  margin-top: 20px;
  background-color: #444;
  color: rgb(249, 249, 249);
  width: 200px;
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 20px;
  border: #1817177b solid;
}

.input, .result {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  
  border: none;
  cursor: pointer;
  /* background-image: ; */
  border-radius: 20px;
  align-items: center;
  border: rgba(0, 0, 0, 0.414) solid;
  border-left:10px;
  border-top: 10px;

}

button:hover {
  background-color: #5590c734;
}



